.container-book {
    margin: 20px 15%;
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: space-between;
    align-items: center;
}

.main-left {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.title-main-left {
    background-color: #0f5298;
    padding: 8px 10px;
    color: #fff;
    text-align: center;
}

.title-main-left h3 {
    font-size: 14px;
}

.content-main-left {
    padding: 10px 30px;
}

.content-main-left ul {
    list-style-type: square;
}

.content-main-left ul li {
    margin-bottom: 5px;
    transition: .5s;
}

.content-main-left ul li:hover a {
    color: #0f5298;
}

.content-main-left ul li a {
    text-decoration: none;
    color: #000;
}

.main-right {
    padding: 20px 0 0;
    margin-left: 15px;
    background-color: #fff;
    width: 98%;
    height: 100%;
}

.btn-search {
    margin: 0 10px 10px 0;
    display: grid;
    grid-template-columns: auto 300px;
    align-items: center;
}

.btn-search input {
    width: 200px;
    padding: 5px 10px;
    font-size: 14px;
    outline: none;
    border: 1px solid #000;
}

.btn-search button {
    padding: 5px 10px;
    font-size: 14px;
    outline: none;
    background-color: #0f5298;
    color: #fff;
    border: 1px solid #0f5298;
    cursor: pointer;
}

.prioritize {
    display: flex;
    margin: 0 20px 5px 20px;
}

.prioritize h3 {
    margin-right: 20px;
    font-size: 18px;
}

.prioritize ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.prioritize ul li {
    margin-right: 10px;
}

.prioritize ul li a {
    text-decoration: none;
    color: #0f5298;
    font-size: 16px;
    transition: .5s;
}

.prioritize ul li a:hover {
    text-decoration: underline;
}

.product-book {
    display: flex;
    flex-wrap: wrap;
    border-top: 3px solid #0f5298;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
}

.col {
    width: 100%;
    border: 1px solid #eee;
    transition: .5s;
}

.col:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.img-book {
    padding: 20px 30px;
}

.img-book img {
    /* width: 100%;
    height: 100%; */
    width: 111px;
    height: 163px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-book {
    padding: 0 30px 20px 30px;
}

.title p a {
    text-decoration: none;
    color: #000;
}

.title p a:hover {
    color: #0f5298;
}

.author h3 {
    font-size: 16px;
    color: #0f5298;
    margin-top: 5px;
}

.author h3 a {
    text-decoration: none;
    color: #0f5298;
}